
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
    <header>
        <title>Tigan</title>
    </header>
    <body>
        <main>
            <label for="username">Username</label><br />
            <input type="text" id="username">  <br />
            <label for="Realname">Real name</label><br />
            <input type="text" id="rName"><br />
            <label for="email">Email</label><br />
            <input type="text" id="email"/><br />
            <label for="borndate" >Date of born</label><br />
            <input type="date" /><br /><br />
           <button formethod="post" type="submit" class="btn" formaction="CompleteRegister">Register</button>
        </main>
    </body>

</html>